.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(211, 207, 207)
}

h1 {
    text-align: center;
    background: rgb(35, 107, 175);
}

ul {
    text-align: center;
    padding: 0px;
}
li{
    display: inline-block;
}
.speles_lauk {
    background: black;
    width: 520px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.bloks{
    background: red;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 45px;
    display: flex;
    border-radius: 5px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(20, 159, 184);
    color: white;
    border: 2px solid #0056b3;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s; 
}
a:hover {

    background-color: #0056b3;
    transform: scale(1.05);
}

a:active {
    background-color: #007bff;
    color: aqua;
    transform: scale(1.05);
}
